body {
    background-image: url("../images/transparentLogo.svg");
    background-attachment: fixed;
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
}

header {
    position: sticky;
    top: 0;
}

.barTop, .barMiddle, .barBottom {
    position: absolute;
    top: 0;
    width: 25px;
    height: 3px;
    border: 1px groove #cccccc;
    background-color: lightgray;
    border-radius: 30px;
    margin: 2px;
    transition: 0.5s;
}

.barMiddle {
    position: absolute;
    top: 7px;
    width: 25px;
    height: 3px;
    border: 1px groove #cccccc;
    background-color: lightgray;
    border-radius: 30px;
    margin: 2px;
    transition: 0.5s;
}

.barBottom {
    position: absolute;
    top: 14px;
    width: 25px;
    height: 3px;
    border: 1px groove #cccccc;
    background-color: lightgray;
    border-radius: 30px;
    margin: 2px;
    transition: 0.5s;
}

#menuIcon {
    position: relative;
    margin-left: 1%;
    float: left;
    cursor: pointer;
    transition: 0.5s;
}

.sideBar {
    width: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 2%;
    left: 0;
    transition: 0.5s
}

.sideBar a {
    font-family: 'Sarabun', sans-serif;
    font-size: 2.5vh;
    font-weight: bolder;
    color: #cccccc;
    text-shadow: 5px 5px 10px black;
    padding: 5% 10%;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    background-color: rgba(67, 89, 255, .5);
}

.sideBar a:hover {
    background-color: rgba(130, 210, 255, .5)
}

.active {
    background-color: #4359FF;
}

.iconDiv a:link {
    color: #bbbbbb;
}

.emailIcon {
    float: right;
    font-size: 2.5em;
    margin: 0 4% 0 0;
    color: #bbbbbb;
    cursor: pointer;
}

.logo {
    height: 200px;
}

.title {
    margin: 1% auto;
    width: 67%;
    text-align: center;
    font-style: italic;
}

h1 {
    font-family: 'Sarabun', sans-serif;
    font-size: 4.5vh;
    font-weight: bold;
    color: #cccccc;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0;

}

h2 {
    font-family: 'Sarabun', sans-serif;
    font-size: 4.5vh;
    font-style: italic;
    font-weight: bold;
    color: blue;
    text-shadow: 2px 2px 5px lightskyblue;
    text-align: center;
    padding-bottom: 1%;
    margin-top: 0;
}

h3 {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.9em;
    font-style: italic;
    font-weight: bolder;
    color: #cccccc;
    text-shadow: 5px 5px 10px black;
    padding-bottom: 2%;
}

h4 {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 2%;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
    font-weight: bolder;
    color: #cccccc;
    text-shadow: 5px 5px 10px black;
    margin-bottom: 1.5%;
}

p a:link, p a:visited {
    font-weight: bolder;
    color: #8F9CFF;
}

b {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    width: 80%;
    height: auto;
    background-color: rgba(67,89,255,.5);
    margin: 1% auto 2%;
    padding: 2% 1%;
}

.textDiv {
    height: 100%;
    padding: 5%;
}

.profileTextDiv {
    height: 100%;
    padding: 0 2%;
}

.initiative {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
    font-weight: bolder;
    color: #cccccc;
    text-shadow: 5px 5px 10px black;
    list-style-type: disc;
    margin-left: 4%;
    margin-bottom: 1.5%;
}

.homeContainer {
    height: 100vh;
}

.topRow {
    clear: both;
    text-align: center;
    padding-top: 13%;
}

.bottomRow {
    text-align: center;
}

.tile {
    display: inline-block;
    width: 20%;
    border: 3px #cccccc solid;
    text-align: center;
}

.buttonDiv {
    width: 100%;
    text-align: center;
}

.regButton {
    margin: 4% 2%;
    padding: .5% 1.5%;
    font-family: 'Sarabun', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #cccccc;
    background-image: linear-gradient(to top right, #212C80, #8F9CFF);
    border: 2px groove #8F9CFF;
    border-radius: 20px;
    cursor: pointer;
}

.imgBox {
    width: 25%;
    float: left;
    margin-right: 15px;
}

.profileImg {
    width: 100%
}

.caption {
    color: #cccccc;
    text-shadow: 5px 5px 10px black;
    padding: 0;
}

.cardRow {
    text-align: center;
}

.card {
    width: 290px;
    height: 430px;
    display: inline-block;
}

.bg-custom {
    background-color: #8F9CFF;
}

.card-title {
    font-size: 1.4rem;
    font-weight: bolder;
    color: #cccccc;
    text-shadow: 0px 0px 1px black;
}

.card-text {
    font-size: 1rem;
    color: #cccccc;
    text-shadow: 0px 0px 1px black;
}

footer {
    position: fixed;
    bottom: 0;
    right: 10px;
    height: 10vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #cccccc;
    text-shadow: 5px 5px 10px black;
}

footer i {
    font-style: italic;
}

.copyrightInfo {
    display: block;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 972px) {
    .title {
        width: 100%;
    }

    .title h2 {
        font-size: 4vh;
        padding: 0 2% 6%;
    }

    .container {
        padding-left: 20px;
        padding-right: 10px;
    }

    .textDiv {
        margin: 0;
        padding: 0;
    }

    .emailIcon {
        margin: 0 1% 0 0;
    }
}

@media only screen and (max-width: 1233px) {
    .sideBar {
        border-radius: 0 5px 5px 0;
    }

    .sideBar a {
        background-color: rgb(67,89,255);
    }

    .sideBar a:hover {
        background-color: rgba(130, 210, 255, .9)
    }

    .active {
        background-color: #4359FF!important;
    }

    .title h1 {
        font-size: 5.5vh;
    }

    .title h2 {
        font-size: 4vh;
    }
}
